@{
    ViewBag.Title = "Contact";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Welcome on this web-site. <br />
                You may walk through this site by using the links on the upper right side.
            </p>
        </div>
    </section>
}

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Mobile:</span>
        <span>1 (415) 623-6374</span>
    </p>
    <p>
        <span class="label">Best hours:</span>
        <span>9 a.m. - 8 p.m.</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:florian.reiss@supinfo.com">florian.reiss@supinfo.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        1935 Cabrillo Street <br />
        San Francisco, CA 94121 <br />
        U.S.A.
    </p>
</section>