@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Welcome on this web-site. <br />
                You may walk through this site by using the links on the upper right side.
            </p>
        </div>
    </section>
}
<div style="text-align:center;">
    <h2>Florian Reiss</h2>
    <h4>iOS - .NET Developer</h4> <br />

    <h5>1935 Cabrillo Street <br />
94121 San Francisco, CA</h5>
</div>

@*<h3>I suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5><a href="/">Home</a></h5>
        You will be redirected on this page.
    </li>

    <li class="two">
        <h5><a href="/Home/Project">Projects</a></h5>
        You will find all the projects I worked on. They will be ordered from the most recent to the oldest.
        Of course, you will have information about the project such as: the technologies used, the number of people in the team and much more.
    </li>

    <li class="three">
        <h5><a href="/Home/Job">Job history</a></h5>
        Here you will get all the jobs I had, once again ordered from the most recent to the oldest.
    </li>

    <li class="four">
        <h5><a href="/Home/Course">Courses</a></h5>
        You will see the classes I took when I grew up. There will also be information about the things I learned.
    </li>

    <li class="five">
        <h5><a href="/Home/Blog">Blog</a></h5>
        You will be able to find my blog here. <br />
        There will be news about every techy thing that may appear.
    </li>

    <li class="six">
        <h5><a href="/Home/Contact">Contact</a></h5>
        You will be able to find my contact information here. <br />
        Soon, you will be able to send me a mail directly from here.
    </li>
</ol>*@
